<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">BLOG</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><%= link_to 'Sign-Up',new_user_registration_path %></li>
          <li ><%= link_to 'Sign-In',new_user_session_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%if notice %><p class="alert alert-info"><%= notice %></p><%end%>
      <%if alert %><p class="alert alert-info"><%= alert %></p><%end%>